.catTitle {
  color: #53c28b;
}

.items {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.items:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.imgcontainer {
  flex: 1;
  height: 500px;
  position: relative;
}

.image {
  object-fit: contain;
}

.title {
  font-size: 50px;
}
.description {
  font-size: 20px;
}
